<div class="container mt-5">
  <form class="row">
    <h2 class="text-center"><span class="bi bi-card-heading me-2"></span>Dynamic Form</h2>
    <div class=" d-flex justify-space-between">
      <h6 class="col-2 text-center mt-2">Form Name</h6>
      <input class="col form-control me-5" type="text" name="formName" id="formName" [(ngModel)]="formName"
        placeholder="Enter Form Name">
      <!-- <span class="col-1 ms-5 bi bi-file-plus"></span> -->
      <Select class="col form-control" name="addElement" (change)="addElement()" [(ngModel)]="selectedElement">
        <option value="addAElement" name="addAElement" selected>Add a Element to Form</option>
        @for (item of formElementTypes; track $index) {
        <option [value]="item" name="item">{{ item }}</option>
        }
      </Select>
    </div>
    <div class="text-center mt-5"><button type="button" class="btn btn-primary" (click)="saveModel()">Save
        Model</button>
    </div>
  </form>
</div>